#ctrl[data-x='1']::after {display: none}
#ctrl::after {
  content: 'x' attr(data-x);
  font: bold 88% monospace;
  vertical-align: bottom;
  margin-left: 1em;
}

#pout > *:first-child {font-weight: bold}

#ribbon {
  position: fixed; bottom: 0; right: 0; border: 0;
          transform: rotate(90deg);
       -o-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
     -moz-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
}
