#pout {white-space: pre-wrap}
#pout > :first-child {font-weight: bold}
#pout > [data-x]::after {
  content: ' x' attr(data-x);
  font: bold 80% monospace;
}

#ribbon {
  position: fixed; bottom: 0; right: 0; border: 0;
          transform: rotate(90deg);
       -o-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
     -moz-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
}
